.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.comment-card {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: none;
  border-bottom: 1px solid #cbd2d9;
}
.user-details-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.container-class {
  align-self: flex-start;
  padding: 3px 9px;
  border-radius: 50%;
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 800px;
  gap: 10px;
}
.user-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.btn {
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  border: none;
  color: #94a3b8;
}

.btn-active {
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  border: none;
  color: #0ea5e9;
}

.butn {
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  border: none;
}
.img {
  width: 18px;
  margin-right: 10px;
}
.user-name {
  font-family: 'Roboto';
  font-size: 18px;
  color: #334155;
  font-weight: 450;
}
.user-time {
  font-family: 'Roboto';
  font-size: 13px;
  color: #94a3b8;
}
.user-comment {
  font-family: 'Roboto';
  font-size: 15px;
  color: #64748b;
  width: 500px;
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 576px) {
  .comment-card {
    padding: 0px;
  }
  .user-comment {
    width: 300px;
  }
}
